<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add comment to answer</title>
</head>
<body>
<div class="content">
    <link rel="stylesheet" href="/static/images/question.css">
    <h1>ASK MATE</h1>
    <hr>
    <h2>Add new comment</h2>
    <form action="/answer/{{ answer.id }} " method="post">
        <label for="message">Your comment:<br></label><br>
        <textarea id="message" name="message" rows="2" cols="80"></textarea><br>
        <br>
        <button type="submit" style="float: right;">Submit your comment</button>

    </form>
    <br>
    <br>
</div>
</body>
</html>