{% extends "base.html" %}
{% block title %}User's list{% endblock %}
{% block content %}

<div class="content">
<br><br><br><br><br><br><br>
    <link rel="stylesheet" href="/static/images/question.css">
    <h1>ASK MATE</h1>

    <h2>Answer to question:</h2>
    <section>
        <p>{{ answer.message }}</p>
        <span><strong>Submitted by:</strong> {{ author }} </span>
        <button onclick="location.href='/answer/{{ answer.id }}/edit-page'" type="button" class="bn3" style="float: right;">Edit
        </button>
        <button onclick="location.href='/answer/{{ answer.id }}/new-comment'" type="button" class="bn3" style="float: right;">Add
            comment to answer
        </button>
        <br>
        <br>

    </section>
</div>
{% endblock %}