<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
{#{%  for message in get_flashed_messages() %}#}
{#          <p class="flashes">{{ message }}</p>#}
{#    {% endfor %}#}
</head>
<body>
<link rel="stylesheet" href="/static/images/question.css">
<nav>
<br>
    <span style="font-size:30px ;cursor:pointer" onclick="openNav()">&#9776; </span><br>
    <a  class="hover-underline-animation" href='/list'>HOME</a>
    <a  class="hover-underline-animation" href='/register'>REGISTER</a>
    <a  class="hover-underline-animation"href='/login'>LOGIN</a>
    <a  class="hover-underline-animation"href='/users'>USER_LIST</a>
    <a  class="hover-underline-animation"href='/users/{{ session['user_name']  }}'>USER_PROFILE</a>
</nav>
<div class="searching">
      <form class="searchbar" action="{{ url_for('search') }}" method='post'>
        <input  type="text" id='search_phrase' placeholder="Search" name="search_phrase"
               aria-label="Search" required>
        <button class="bn3" type="submit">Search</button>
      </form>
    <a class="login_info">LOGGED AS: {{ session['user_name'] }}</a>
      <form action='/logout'>
            <label>
                <input class="bn3" type="submit"  value='logout'>
            </label></form>
</div>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href='/list'>Home</a>
  <a href='/login'>Login</a>
  <a href='/register'>Register</a>
  <a href='/users'>Users</a>
  <a href='/users/{{ session['user_name'] }}'>Profile</a>
</div>
<div class="content">
    {% block content %}{% endblock %}
</div>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
</body>
  {%  for message in get_flashed_messages() %}
            {{ message }}
    {% endfor %}

</html>