<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add question</title>

</head>
<body>
<div class="content">
    <link rel="stylesheet" href="/static/question.css">
    <h1>ASK MATE</h1>

    <h2>Edit comment</h2>
    <form action="/comment/{{ comment.id }}/edit" method="post">
        <label for="message">Answer:<br></label><br>
        <textarea id="message" name="message" rows="8" cols="70">{{ comment.message }}</textarea>
        <br>
        <button type="submit">Submit your comment</button>
    </form>
    <br>
    <br>
</div>
</body>
</html>