<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
<div class="content">
    <link rel="stylesheet" href="/static/question.css">
    <a href="/list">
        <h1>ASK MATE</h1>
    </a>
    <div>
        <h2> 5 latest questions:</h2>
        {% for question in questions %}
            <div>
                <strong>{{ question.vote_number }} </strong>votes
            </div>
            <div>
                <strong>{{ question.view_number }} </strong>views
            </div>
            <div>
                <a href="/question/{{ question.id }}"
                   title="{{ question.title }}">{{ question.title }} </a>
            </div>
            <div>
                {{ question.message|truncate(70) }}
            </div>
            <div>
                asked {{ question.submission_time }}
            </div>
            <br>
        {% endfor %}
    </div>
</div>
</body>
</html>