<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>

    <link rel="stylesheet" href="/static/images/question.css">


    </a>
    <div class="wrapper">
    <div class="typing-demo">
      Welcome to askmate.
    </div>


</div>
    <div class="content">

    <h1>Searching for answers?<br>
        You are in the right place!</h1>
{#    <a href="/list">#}
    <h2> 5 latest questions:</h2>


        {% for question in questions %}
            <section>
            <table>
            <tr>
            <td class="small_cells">
             <div>   <strong>{{ question.vote_number }} </strong>votes</div>
             <div>   <strong>{{ question.view_number }} </strong>views</div>

            </td>

                <td class="big_cells">
                <a href="/question/{{ question.id }}" title="{{ question.title }}">{{ question.title }} </a><br>
                 {{ question.message|truncate(70) }}
                </td>
                    <td>

                <strong>submitted:</strong><br> {{ question.submission_time }}

                    </td>
                </tr>
            <br>
            </table>
             </section>
        {% endfor %}

    </div>
<div>
<br><br>
         <button onclick="location.href='/list'" class="bn3"  type="button" ">See all questions </button>

</div>


</body>
</html>