{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="content">
<br><br><br><br><br><br><br>
    <link rel="stylesheet" href="/static/images/question.css">

    <h1>ASK MATE</h1>

    <h2> Log in</h2>
    <form action='/login' method="post">

        <label for="user_name">User name:<br></label><br>
        <input type="text" id="user_name" name="user_name"><br>
        <br>
        <label for="_hashed_password">Password:<br></label><br>
        <input type="password" id="_hashed_password" name="_hashed_password" ><br>
        <br>

        <button type="submit" style="float: right;" class="bn3">Log in</button>
    </form>
    <br>
    <br>

</div>
{% endblock %}