<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/question.css">
      {%  for message in get_flashed_messages() %}
            {{ message }}
    {% endfor %}
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>

<div class="content">
    <h1>ASK MATE</h1>
    <button onclick="location.href='/add-question'" type="button">Add question</button>
    <button onclick="location.href='/users/{{ session['user_name'] }}'" type="button">User Details</button>

    <h2>Questions</h2>

    {% for question in questions %}

        <section>
            <div>
                <strong>{{ question.vote_number }} </strong>votes
            </div>
            <div>
                <strong>{{ question.view_number }} </strong>views
            </div>
            <div>
                <a href="/question/{{ question.id }}"
                   title="{{ question.title }}">{{ question.title }} </a>
            </div>
            <div>
                {{ question.message|truncate(70) }}
            </div>
            <div>
                asked {{ question.submission_time }}
            </div>

        </section>

    {% endfor %}

    <form action="{{ url_for('filters') }}" method="POST">
        <label>
            <select name="sort">
                <option value="latest">Latest</option>
                <option value="oldest">Oldest</option>
                <option value="name">By name</option>
                <option value="votes">By votes</option>
                <option value="views">By views</option>
            </select>
        </label>
        <button type="submit">Apply filter</button>
    </form>
    <form class="form-inline my-2 my-lg-0" action="{{ url_for('search') }}" method='post'>
        <input class="form-control mr-sm-2" type="text" id='search_phrase' placeholder="Search" name="search_phrase"
               aria-label="Search" required>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

    </form>

</div>
</body>
</html>