{% extends "base.html" %}
{% block title %}User's list{% endblock %}
{% block content %}

<div class="content">
    <link rel="stylesheet" href="/static/images/question.css">
<br><br><br><br><br><br><br>
<h1>Question details:</h1>
<section>
<table>
    <tr>
        <td ><h3>{{ question.title }}</h3>
            <p>{{ question.message }}</p></td></tr>
    <tr>
         <td colspan="1">
         <div><strong>Asked</strong> {{ question.submission_time }}</div>
         <div> <strong>Viewed</strong> {{ question.view_number }} times</div>
         <div><strong>Submitted by:</strong> {{ author }}</div>
         </td>
    </tr>

    <tr>
        <td>
        <h3>VOTING</h3>
        <div class="answers-container">
            <div class="ans-votes">
                <a href="/question/{{ question.id }}/upvote">
                    <img src="/static/images/arrow-up.svg" alt="arrow-up">
                </a>
                <p class="vote-num">  {{ question.vote_number }}</p>
                <a href="/question/{{ question.id }}/down-vote">
                    <img src="/static/images/arrow-down.svg" alt="arrow-down">
                </a>
            </div>
        </div>
        </td>
    </tr>
</table>
      <div class="ans-details">
                <button onclick="location.href='/question/{{ question.id }}/delete'" class="bn3"  type="button"
                        style="float: right;">Delete
                <button onclick="location.href='/question/{{ question.id }}/edit-page'" class="bn3" type="button"
                        style="float: right;">Edit
                </button>
                <br/>
                <br/>  </button>

            </div>

    </section>

<div class="content">


        </div>



    <h2>Answers to question:</h2>
    {% for answer in answers %}
        <section>
<table>
    <tr>
        <td>
            <div class="ans-message"> {{ answer.message }}<br></div>
            <br>
        </td>

<tr><td>
            <h3>VOTING</h3>
  <div class="answers-container">
                <div class="ans-votes">
                    <a href="/answer/{{ answer.id }}/upvote">
                        <img src="/static/images/arrow-up.svg" alt="arrow-up">
                    </a>
                    <p class="vote-num">{{ answer.vote_number }}</p>
                    <a href="/answer/{{ answer.id }}/down-vote" methods="POST">
                        <img src="/static/images/arrow-down.svg" alt="arrow-down">
                    </a>
                </div>
  </div>
</td>
</tr>
</table>

        <button onclick="location.href='/answer/{{ answer.id }}/delete'" class="bn3"  type="button" style="float: right;">Delete  </button>
        <button onclick="location.href='/answer/{{ answer.id }}/edit-page'"  class="bn3" type="button"style="float: right;">Edit </button>
        <br><br>
        </section>
    {% endfor %}
<button onclick="location.href='/question/{{ question.id }}/new-answer'" type="button"class="bn3"  >Add answer to question </button>

    <h2>Comments to question:</h2>
    <section>
        {% for comment in comments %}
            <ul>
                {{ comment.message }}
                <button onclick="location.href='/comment/{{ comment.id }}/delete'" class="bn3"  type="button" style="float: right;">
                    Delete
                </button>
                <button onclick="location.href='/comment/{{ comment.id }}/edit'"  class="bn3" type="button" style="float: right;">
                    Edit
                </button>
            </ul>
        {% endfor %}
    </section>
    <button onclick="location.href='/question/{{ question.id }}/new-comment'" class="bn3" type="button">Add comment to question
    </button>

    <h2>Tags list:</h2>
    <section>
        {% for tag in tags %}
            <ul>
                {{ tag.id }} {{ tag.name }}
                <button onclick="location.href='/question/{{ question.id }}/tag/{{ tag.id }}/delete' " class="bn3"  type="button"
                        style="float: right;">Delete
                </button>
            </ul>

        {% endfor %}
    </section>
    <button onclick="location.href='/question/{{ question.id }}/create_new_tag'" class="bn3"  type="button">Add new tag</button>
</div>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href='/list'>Home</a>
  <a href='/login'>Login</a>
  <a href='/register'>Register</a>
  <a href='/users'>Users</a>
  <a href='/users/{{ session['user_name'] }}'>Profile</a>
</div>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

{% endblock %}