{% extends "base.html" %}
{% block title %}User's list{% endblock %}
{% block content %}

<div class="content">
<br><br><br><br><br><br><br>
    <h1>ASK MATE</h1>

    <h2>Results of searching for "{{ search_phrase }}":</h2>
    <section>

        {% for question in questions %}

            <div>
                ID: {{ question.question_id }}
            </div>
            <div>
                <strong>{{ question.title }}</strong>
                <strong>
                    {% set title_items = split_ignore_case(search_phrase, question.title) %}
                    {% for item in title_items %}
                        {{ item }}
                        {% if not loop.last %}
                            <em class="search_phrase">{{ search_phrase }}</em>
                        {% endif %}
                    {% endfor %}
                </strong>
            </div>
            <div>
                submitted: {{ question.submission_time }}
            </div>
            <br>
            <div>
                {% set message_items = split_ignore_case(search_phrase, question.message) %}
                {% for item in message_items %}
                    {{ item }}
                    {% if not loop.last %}
                        <em class="search_phrase">{{ search_phrase }}</em>
                    {% endif %}
                {% endfor %}
            </div>
            </section>
            <h2>Results in answers:</h2>
            <section>
            <ul>
                {% for answer in answers %}
                    <li>
                        {% if question.id == answer.question_id %}
                            {% set question_items = split_ignore_case(search_phrase, answer.message) %}
                            {% for item in question_items %}
                                {{ item }}
                                {% if not loop.last %}
                                    <em class="search_phrase">{{ search_phrase }}</em>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </li>
                {% endfor %}

            </ul>
        {% endfor %}
        </section>
    <br>

    <form action='/list'>
        <input  class="bn3" type='submit' value='Back'>

    </form>
</div>
{% endblock %}