<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div class="content">
    <link rel="stylesheet" href="/static/question.css">

    <h1>ASK MATE</h1>
    <h2>User details for '{{ session['user_name'] }}'</h2>

    <section>

        <p><strong>ID: </strong>{{ user.id }}</p>
        <p><strong>NAME: </strong>{{ user.user_name }}</p>
        <p><strong>EMAIL: </strong>{{ user.email }}</p>
    </section>
    <h2>USER'S QUESTIONS:</h2>
    <section>
    <p><strong>Number of asked questions: </strong> {{ number_of_questions }} </p>
    </section>
     {% for question in questions %}
     <section>
     <strong>Question Title: </strong><a href="/question/{{ question.id }}" title="{{ question.title }}">{{ question.title }} </a>

    <p><strong>Question Message: </strong>{{ question.message }}</p>
    </section>
    {% endfor %}

    <h2>USER'S ANSWERS:</h2>
 <section>
    <p><strong>Number of added answers: </strong> {{ number_of_answers }} </p>
    </section>
   {% for answer  in answers %}
    <section>
    <p><strong>Answer Message: </strong><a href="/question/{{ answer.id }}" title="{{ answer.message }}">{{ answer.message }} </a>
    </section>
    {% endfor %}
    <h2>USER'S COMMENTS:</h2>
 <section>
    <p><strong>Number of added comments: </strong> {{ number_of_comments }} </p>
    </section>

  {% for comment  in comments %}
    <section>
    <p><strong>Comment Message: </strong><a href="/question/{{ comment.question_id }}" title="{{ comment.message }}">{{ comment.message }} </a>
    </section>
    {% endfor %}

</div>
</body>
</html>